.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 0.7em;
  margin-bottom: 0.3em;
}

.markdown-body ol,
.markdown-body ul {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding-left: 1.2em;
}

.markdown-body li {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.markdown-body hr {
  margin: 0.7em 0;
}

.markdown-body p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
